@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

.mainbody {
    background:#f0f0f0;
}
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  margin-left: -15px;
  margin-right: -15px;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-content
{
    width:320px;
    padding: 15px;
    padding-bottom:0px;
}
.navbar-content:before, .navbar-content:after
{
    display: table;
    content: "";
    line-height: 0;
}
.navbar-nav.navbar-right:last-child {
    margin-right: 15px !important;
}
.navbar-footer 
{
    background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }
.dropdown-menu {
padding: 0px;
overflow: hidden;
}

.brand_network {
    color: #9D9D9D;
    float: left;
    position: absolute;
    left: 70px;
    top: 30px;
    font-size: smaller;
}

.post-content {
    margin-left:58px;
}

.badge-important {
    margin-top: 3px;
    margin-left: 25px;
    position: absolute;
}

body {
    background-color: #e8e8e8;
}

.navbar-default .navbar-nav>li>a:hover {
    border-bottom: 4px #2780e3 solid;
    margin-bottom: -4px;
}

.nav.navbar-nav .dropdown .dropdown-menu {
    border-top: none;
    margin-left: -1px;
    padding: 4px;
    width: 550px;
}

.nav.navbar-nav .dropdown-menu .media-object.pull-left .avatar {
    width: 35px;
    height: 35px;
}

.nav.navbar-nav .dropdown-menu .notifications {
    position: relative;
    max-height: 350px;
    width: 100%;
}

.ps-container {
    -ms-touch-action: none;
    touch-action: none;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
}

.avatar {
    border-radius: 1000px;
}

.nav.navbar-nav .dropdown-menu .view_all {
    background: -webkit-linear-gradient(top, #3f8fba, #076497);
    background: linear-gradient(to bottom, #3f8fba, #076497);
    border: none;
    text-align: center;
    padding: 10px;
}

.nav.navbar-nav .dropdown-menu .view_all a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bolder;
}

.notifications .stream-element.media.unread {
    background-color: #eee;
    padding:2px;
}

@media (max-width: 768px) {
    .post-content{
        margin-left: 0px;
    }
}

.panel-footer small a {
    color: #FFF;
}

#accordion .panel-footer {
    color: #FFF;
    padding-bottom: 100px;
    background: #222 URL('../images/hedero.png') no-repeat 0 100% local;
    background-position-x: 95%;
}
